.debug_dump {
	color:white;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial;
}
/* Global */
.round {
	border-radius: 15px;
}

header, input, #user_submit {
	-webkit-transition: all .5s ease-in-out;
}

body {
	background: black;
	min-height: 100%;
}

#wrapper {
	background: white url(images/ford_header_1024.jpg) no-repeat;
	background-size: 100%;
	padding-bottom: 15px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 200px;
	visibility: hidden;
}

h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
}

h1, h2, section {
	color: rgb(0, 69, 130);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

section > h3 {
	color: white;  /* #37a2d8; */
	background: rgba(0, 69, 130, 0.7) url(images/glossy.png);
	text-align: center;
	font-size: 36px;
	padding: .2em;
	font-weight: lighter;
	border-radius: 7px;
	margin-bottom: 20px;
	text-shadow: 0px -1px 1px black;
}

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

a:visited { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }

h3 a, h3 a:visited {
	text-decoration: none;
	color: white;
}

a, a:visited {
	color: rgb(50, 119, 180);
}

a:hover, a:active {
	color: #37a2d8;
}

::selection {
	background: #004582;
	color:#fff;
	text-shadow: none;
}

/* Forms */

form {
}

input, select {
	color: #37a2d8;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	background: #daeafa;
	vertical-align:middle;
	outline:none;
	border: 1px solid #37a2d8;
	border-radius: 5px;
	padding: 4px;
}

input:focus, input:hover {
	background: white !important;
	border: 1px solid #2f8ab8;
	color: #444;
	-webkit-box-shadow: 0px 0px 5px #37a2d8;
}

fieldset {
	background: rgba(218,234,250,0.5);
	border-radius: 10px;
	margin: 20px auto 20px auto;
	padding: 20px;
	padding-top: 5px;
}

#user_submit {
	font-size: 32px;
	width: 250px;
	height: 64px;
	display: block;
	color: white;
	background: #004582 url(images/glossy.png) repeat-x;
	margin-left: auto;
	margin-right: auto;
}

#user_optin {
	width: 20px !important;
	float: left;
}

#user_submit:active, #user_submit:hover {
	background: #37a2d8 url(images/glossy.png) repeat-x !important;
	-webkit-box-shadow: 0px 0px 5px #004582;
	margin-top: 20px;
}


/* Conditional */

#error_explanation {
	color: orange;
	background: #222;
	border: 1px solid orange;
}

#error_explanation h3 {
	font-size: 26px;
	padding: 12px;
	color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: orange url(images/glossy.png) repeat-x;
	background-size: auto%;
}

#error_explanation ul li {
	padding: 10px 10px 14px 10px;
	list-style: none;
	font-weight: bold;
}

/* Mobile */

@media all and (orientation:landscape) { 
	/*h3 {
		text-shadow: 0px -1px 1px white;
	}*/  
}

@media all and (orientation:portrait) { 
	header {
		height: 110px !important;
	}
}


@media screen and (max-device-width: 480px) {

header {
	height: 120px;
	visibility: hidden;
}

#wrapper {
	background: white url(images/ford_header_480.jpg) no-repeat;
}

input {
	width: 97%;
}

#user_submit {
	margin-left: auto !important;
	margin-right: auto !important;
}
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; } 
}
