<h3><%= link_to @title, :controller => "users", :action => "new" %> NASCAR Fans!</h3>
<h4>See the latest <b>Ford Vehicles</b> &amp; fun activities at the East Side of the raceway near <b>Gate B</b>.</h4>
<span class="button"><%= link_to "Register Now", :controller => "users", :action => "new" %></span>
